<div class="container">
  <div class="jumbotron">
    <h1>Explore Artists</h1>
    <p>Listen to music you love.
      Enjoy millions of songs, artists, playlists and more. Sign up now for free or collect your deals by going premium.
    </p>
  </div>

  <div class="center">
    <div class="row">
       <% @artists.each do |artist| %>
          <div class="col-md-3 col-xs-6">
             <div class="thumbnail" >
               <%= image_tag artist.remote_image_url %>
              <div class="caption">
                 <h3> <%= artist.name%></h3>
                 <p> <%= artist.bio.truncate(130) %> </p>
                 <button type="button" class="btn btn-default"> <%= link_to 'More', artist_path(artist.id) %></button>
              </div>
            </div>
         </div>
       <% end %>
     </div>
  </div>



</div>
