<%= form_for [artist, artist.songs.build] do |f| %>
  <div class="form-group"  id="formgroup-title">

      <div class="form-group">
        <label>Title</label>
      <%= f.text_field :title, placeholder: " Please insert Title" %>
      </div>

      <div class="form-group">
        <label>Year of Release</label>
        <%= f.number_field :year_of_release, placeholder: " Please insert Year of Release" %>
      </div>

      <div>
        <%= f.submit %>
      </div>
  </div>
<% end %>
