/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url("https://www.almanac.com/sites/default/files/image_nodes/fireflies-lightning-bugs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar-default {
  background-color: black;
  border: none;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.8);
  color: #d2d2d2;
}

.thumbnail {
  background-color: rgba(13, 61, 96, 0.8);
  border: none;
}
.caption h3,
p {
  color: #d2d2d2;
}

.btn-default {
  background-color: rgba(13, 61, 96, 0.9);
  border: none;
}

.btn-default:hover {
  background-color: #0a2940;
  border: none;
}

.btn-default a,
.btn-default a:hover {
  color: #d2d2d2;
  text-decoration: none;
}

a {
  color: white;
}
.page-header {
  color: #d2d2d2;
}
.panel {
  background-color: transparent;
  border: none;
}

.panel-default > .panel-heading {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 22px;
}

.table > tbody > tr > td {
  border: none;
}

.list-group-item {
  background-color: rgba(13, 61, 96, 0.7);
}

.song td {
  background-color: transparent;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2%;
}

label {
  color: white;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}

input:nth-last-of-type {
  border-bottom: none;
}

.artist {
  background-color: transparent;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: transparent;
}
